<h2>Team Selector</h2>
<p>Select your champions and the enemy champions here.</p>

<div class="team-selector">
  <div class="team">
    <h3>Blue Team</h3>
    <div class="team-row">
      @for (champ of blueTeam(); track $index) {
        <div class="champion-slot" (click)="selectSlot('blue', $index)"
             [class.selected]="selectedSlot()?.team === 'blue' && selectedSlot()?.index === $index"
             [class.locked]="locked()">
          <img [src]="champ.image" [alt]="champ.name" class="champion-image">
        </div>
      }
    </div>
  </div>

  <div class="team">
    <h3>Red Team</h3>
    <div class="team-row">
      @for (champ of redTeam(); track $index) {
        <div class="champion-slot" (click)="selectSlot('red', $index)"
             [class.selected]="selectedSlot()?.team === 'red' && selectedSlot()?.index === $index"
             [class.locked]="locked()">
          <img [src]="champ.image" [alt]="champ.name" class="champion-image">
        </div>
      }
    </div>
  </div>
</div>

@if (selectedSlot() !== null) {
  <div class="champion-input">
    <mat-form-field appearance="fill">
      <mat-label>Select Champion</mat-label>
      <input
        #championInput
        type="text"
        matInput
        placeholder="Pick a champion"
        [formControl]="championInputControl"
        [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChampionSelected($event.option.value)">
      @if (!locked()) {

        @if (filteredChampions().length === 0) {
          <mat-option disabled>No champions available</mat-option>
        }
        @if (filteredChampions(); as champions) {
          @for (champ of champions; track champ.name) {
            @if (champ.name !== 'null') {
              <mat-option [value]="champ.name">
                <img [src]="champ.image" [alt]="champ.name" class="champion-image">
                <span>{{ champ.name }}</span>
              </mat-option>
            }
          }
        }
      }
    </mat-autocomplete>

  </div>
}

@if (isReadyToValidate()) {
  <button (click)="toggleLock()" class="validate-button">
    {{ locked() ? 'Make changes' : 'Lock draft' }}
  </button>
}
