<h2>Team Selector</h2>
<p>Select your champions and the enemy champions here.</p>

<mat-form-field class="example-full-width">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChampionSelected($event.option.value)">
  @for (champ of champions(); track champ.name){
    <mat-option [value]="champ.name">
      <div class="champion-option">
        <img src="{{champ.image}}" alt="{{champ.name}}" class="champion-image">
        <span>{{champ.name}}</span>
      </div>
    </mat-option>
  }
</mat-autocomplete>
  <mat-label>Select Champion</mat-label>
  <input
    type="text"
    placeholder="Pick a champion"
    matInput
    [formControl]="championInputControl"
    [matAutocomplete]="auto">
</mat-form-field>

<div class="team-selector">
  <div class="team">
    <h3>Blue Team</h3>
    <ul>
      @for (champ of blueTeam(); track champ.name) {
        <li><img src="{{champ.image}}" alt="{{champ.name}}"></li>
      }
    </ul>
  </div>

  <div class="team">
    <h3>Red Team</h3>
    <ul>
      @for (champ of redTeam(); track champ.name) {
        <li><img src="{{champ.image}}"alt="{{champ.name}}"></li>
      }
    </ul>
  </div>
</div>
