<h2 class="header">
  Minimap
  <div class="toolbar">
    <button (click)="selectTool('pan')">Move/Interact</button>
    <button (click)="selectTool('draw')">Draw</button>
    <button (click)="selectTool('clear')">Clear</button>
  </div>
</h2>

<div class="minimap-container">
  <img src="assets/map.jpg" alt="Map" class="map-image"/>

  <ng-container *ngFor="let champ of blueTeam(); let i = index">
    <div class="champ-icon blue" [ngStyle]="getPositionStyle(champPositions.blue()[i])" (mousedown)="startDrag($event, 'blue', i)">
      <img [src]="champ.image" [alt]="champ.name"/>
    </div>
  </ng-container>

  <ng-container *ngFor="let champ of redTeam(); let i = index">
    <div class="champ-icon red" [ngStyle]="getPositionStyle(champPositions.red()[i])" (mousedown)="startDrag($event, 'red', i)">
      <img [src]="champ.image" [alt]="champ.name"/>
    </div>
  </ng-container>

  <div *ngFor="let turret of turrets"
       class="turret"
       [ngStyle]="getPositionStyle(turret.position)"
       [class.destroyed]="turret.destroyed"
       (click)="toggleTurret(turret)">
    🛡️
  </div>

  <canvas #drawingCanvas width="650" height="650" class="drawing-canvas"></canvas>
</div>
